html {
	height: 85%;
}

body {
	height: 100%;
	background-color: #c7e5f5;
	margin: 0 auto;
	font-family: "Arial", "Helvetica", "Courier New", "Courier";
	font-size: 11px;
	color: #FFF;
	padding: 0 12px 5px 12px;
	background-image: url("../img/bg.png");
}
#main {
	border: 10px solid #000;
	background-color: #FFF;
	padding: 10px 8px 50px 8px;
	width: 600px;
	height: 420px;
	color: #000;
	box-shadow: 5px 5px #76BDE5;
	margin: 4.5% auto 0 auto;
}
p.bottom {
	margin: 40px 0px 50px -10px;
	width: 610px;
	background-color: #000;
	padding: 3px 5px 0px 5px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
p.small {
	font-size: 11px;
}
input.name, input.create, input.nicksubmit {
	width: 330px;
	margin: 0 auto;
	background-color: #000;
	border: none;
	display: block;
	padding: 7px;
	color: #fff;
	outline: none;
	text-align: center;
	resize: none;
	font-size: 24px;
	box-shadow: 2px 2px #90CAEA;
}
input.create {
	width: 344px;
	margin-top: 10px;
	padding: 0px 7px;
	margin-bottom: 4px;
}
input.nicksubmit {
	width: 150px;
	padding: 3px;
	font-size: 16px;
	margin-top: 5px;
}
#nickinput {
	background-color: #000;
	border: 1px solid #333;
	color: #97CEEC;
	width: 150px;
	padding: 3px;
	font-size: 16px;
}
#talk {
	background-color: #000;
	border: none;
	margin: -14px 0px 0px 2px;
	float: left;
	display: inline;
	padding: 3px;
	width: 67px;
	color: #97CEEC;
	height: 51px;
	font-size: 22px;
	box-shadow: 2px 2px #90CAEA;
}
input.create:hover, #talk:hover, input.nicksubmit:hover {
	background-color: #97CEEC;
	box-shadow: 2px 2px #000;
	color: #FFF;
}
input.create:active, #talk:active, input.nicksubmit:active {
	box-shadow: 2px 2px #97CEEC;
}
#chat {
	padding: 5px 5px 20px 0px;
	width: 585px;
	height: 295px;
	border: 3px solid #97CEEC;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	font-family: 'Courier New', 'Courier';
	line-height: 17px;
	font-size: 12px;
	margin-top: 20px;
}
#chatters {
	background-color: #97CEEC;
	font-size: 10px;
	padding: 3px 3px 3px 0px;
	width: 575px;
	margin: -19px 0px 0px 2px;
	word-spacing: 5px;
	opacity: 0.9;
}
span.chatters {
	padding: 3px 2px;
	background-color: #000;
	color: #FFF;
}
#info {
	font-family: 'Verdana', 'Arial';
	font-size: 10px;
	color: #FFF;
	background-color: #000;
	padding: 2px 10px;
	width: 578px;
	margin: 0 auto;
	margin-top: 10px;
}
a {
	text-decoration: none;
	color: #97CEEC;
}
a:hover {
	text-decoration: underline;
}
a.logout {
	float: right;
	margin: 1px 2px 0 0;
}
#chat a {
	color: #000;
	border-bottom: 1px dashed #000;
}
#chat a:hover {
	border-bottom: 1px solid #000;
	text-decoration: none;
}
input.logout:hover {
	text-decoration: underline;
}
a.logout:hover, input.create:hover, #talk:hover, #maximize, #sound, #nickicon {
	cursor: pointer;
}
#input {
	margin: 0px 0px 0px 1px;
	background-color: #000;
	color: #FFF;
	padding: 5px 10px;
	width: 508px;
	border: none;
	float: left;
	height: 28px;
	outline: none;
	resize: none;
	word-wrap: break-word;
	font-family: 'Courier New', 'Courier';
	line-height: 17px;
	font-size: 12px;
}
#input:active {
	border: none;
}
input.invisible, div.invisible, img.invisible {
	display: none;
}
#url {
	font-size: 10px;
	background-color: #000;
	border: none;
	width: 260px;
	color: #97CEEC;
}
#key {
	background-color: #97CEEC;
	color: #000;
	font-family: 'Verdana', 'Arial';
	font-size: 10px;
	padding: 2px 10px;
	width: 508px;
	margin-left: 1px;
	outline: none;
	resize: none;
	border: none;
}
div.msg, div.gsm, div.emsg, div.egsm, div.cmsg, div.cgsm, div.umsg, div.ugsm {
	padding: 10px 10px 10px 5px;
	background-color: #D8EDF8;
	width: 99.5%;
	word-wrap: break-word;
	background-repeat: no-repeat;
	background-image: url("../img/unlock.png");
	background-position: 98%;
}
div.gsm {
	background-color: #FFF;
}
div.emsg {
	background-image: url("../img/lock.png");
}
div.egsm {
	background-color: #FFF;
	background-image: url("../img/lock.png");
}
div.cmsg {
	background-image: url("../img/corrupt.png");
}
div.cgsm {
	background-image: url("../img/corrupt.png");
	background-color: #FFF;
}
div.umsg {
	background-image: url("../img/user.png");
}
div.ugsm {
	background-image: url("../img/user.png");
	background-color: #FFF;
}
span.nick {
	background-color: #000;
	color: #FFF;
	padding: 2px;
	box-shadow: 2px 2px #90CAEA;
}
img.cryptocat {
	margin-bottom: 90px;
}
span.diffkey {
	border-bottom: 1px dashed #000;
}
div.text {
	max-width: 97%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	word-wrap: break-word;
}
table {
	margin: 0 auto;
	display: block;
	margin-top: 50px;
	width: 550px;
}
td.img {
	padding-top: 2px;
	width: 40px;
}
td {
	border-bottom: 8px solid #FFF;
}
span.red {
	color: #DF93D6;
}
span.green {
	color: #93D8B9;
}
#maximize, #sound, #nickicon {
	float: right;
}
#sound, #nickicon {
	margin-right: 10px;
}
#video {
	text-align: center;
	font-style: italic;
	margin-top: 0px;
}
#strength {
	margin-left: 5px;
}
#changenick {
	display: none;
	min-width: 230px;
	width: 20%;
	padding: 10px;
	background-color: #222;
	color: #FFF;
	box-shadow: 4px 4px #97CEEC;
	text-align: center;
	position: fixed;
	top: 20%;
	left: 39%;
	right: 40%;
	font-size: 16px;
}
