.DS_Store
src/cryptocat.safariextension/*
src/mac/htdocs/*
release/

# npm
node_modules/

# IDE files
.idea/
*.iml

src/mac/Cryptocat.xcodeproj/project.xcworkspace/xcuserdata/*

*.xcbkptlist

npm-debug.log
