html {
	height: 94.5%;
	width: 100%;
	background-color: #000;
}
body {
	height: 90%;
	margin: 0 auto;
	font-family: Verdana, Arial, Helvetica;
	color: #97CEEC;
}
.invisible {
	display: none;
}
#main {
	width: 100%;
	height: 100%;
}
h3 {
	color: #97CEEC;
	margin: 0px 0px 10px 0px;
}
div.header {
	background-color: #97CEEC;
	width: 100%;
	height: 30px;
	color: #FFF;
	font-family: 'Futura', 'Menlo', 'Helvetica', 'Arial';
	position: fixed;
	top: 0;
}
div.header span {
	float: left;
	margin: 7px 0 0 4%;
	font-size: 1em;
	display: none;
}
img.cryptocat {
	margin: 5px 0px 5px 5px;
	float: left;
}
div.create {
	margin-top: 6em;
	width: 100%;
}
input.name, input.create {
	width: 100%;
	margin: 4em 0 0 0;
	background-color: #97CEEC;
	border: none;
	display: block;
	padding: 7px 0;
	color: #FFF;
	font-size: 1em;
	text-align: center;
	outline: none;
	resize: none;
}
input.create {
	width: 88%;
	margin: 1em 0 0 0;
	display: inline;	
}
#random {
	width: 10%;
	float: right;
}
input, :focus, #sound, #file, span.nick {
	border-radius: 0px;
	outline: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline-color: transparent;
	outline-style: none;
}
#nickinput {
	background-color: #000;
	color: #97CEEC;
	border: 1px solid #97CEEC;
	font-size: 1.2em;
	width: 60%;
	display: block;
	margin: 0 auto;
	outline: none;
	padding: 6px 0px;
	text-align: center;
}
input.nicksubmit {
	background-color: #000;
	color: #97CEEC;
	border: 1px solid #97CEEC;
	font-size: 1.2em;
	width: 60%;
	display: block;
	margin: 15px auto 0 auto;
	outline: none;
	padding: 6px 0;
	text-align: center;
	border-bottom: 2px solid #FFF;
	border-right: 2px solid #FFF;
}
#keygenbar {
	width: 95%;
	height: 22px;
	color: #97CEEC;
	padding-top: 8px;
	text-align: center;
	border: 1px solid #97CEEC;
	display: block;
	margin: 0 auto;
}
#keygenprogress {
	height: 100%;
	background-color: #97CEEC;
	width: 0%;
}
span.user {
	color: #000;
	padding: 3px 2px;
}
span.user:hover {
	background-color: #000;
	color: #97CEEC;
	text-decoration: none;
}
#file, #sound {
	float: right;
	margin: 7px 3.5% 0 0;
	display: none;
}
#close {
	margin-top: 4px;
	float: right;
	background-color: #97CEEC;
	color: #FFF;
	width: 30px;
	height: 30px;
	border: none;
	text-align: center;
	outline: none;
}
#chat {
	padding: 55px 0;
	width: 100%;
	height: 75%;
	word-wrap: break-word;
	font-size: 0.8em;
}
div.controls {
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #000;
}
#users {
	background-color: #97CEEC;
	padding: 1px 3px 3px 0px;
	width: 100%;
	word-spacing: 5px;
	height: 12px;
	font-size: 0.8em;
	font-weight: bold;
}
span.users {
	padding: 2px 2px 4px 2px;
	background-color: #000;
	color: #FFF;
}
#info {
	color: #FFF;
	background-color: #000;
	padding: 2px 0px 2px 2px;
	font-size: 7px;
	margin-top: 6px;
}
a {
	text-decoration: none;
	color: #84B2CE;
}
a:hover {
	text-decoration: underline;
}
a img, img a {
	border: none;
}

input.logout:hover {
	text-decoration: underline;
}
#input {
	background-color: #000;
	color: #FFF;
	padding: 5px 10px;
	border: none;
	border-bottom: 2px solid #97CEEC;
	float: left;
	width: 83.5%;
	height: 120%;
	outline: none;
	resize: none;
	word-wrap: break-word;
	font-size: 0.8em;
}
#input:active {
	border: none;
}
#talk {
	background-color: #97CEEC;
	border: none;
	float: right;
	display: inline;
	width: 10%;
	color: #FFF;
	height: 28px;
	font-size: 9px;
	border-bottom: 2px solid #90CAEA;
	border-right: 2px solid #90CAEA;
}
#url {
	background-color: #000;
	border: none;
	color: #97CEEC;
}
div.msg, div.gsm {
	color: #000;
	padding: 8px 0;
	background-color: #D8EDF8;
	width: 100%;
	word-wrap: break-word;
	background-repeat: no-repeat;
	background-image: url("../img/chat.png");
	background-position: 0.5%;
	display: none;
}
div.gsm {
	color: #FFF;
	background-color: #000;
}
div.msg a, div.gsm a {
	color: #FFF;
	border-bottom: 1px dashed #000;
}
div.msg a:hover, div.gsm a:hover {
	border-bottom: 1px solid #000;
	text-decoration: none;
}
img.encrypted {
	max-width: 150px;
}
span.diffkey {
	border-bottom: 1px dashed #000;
}
span.nick {
	background-color: #000;
	color: #FFF;
	padding: 2px;
	border-bottom: 1px solid #90CAEA;
	border-right: 1px solid #90CAEA;
	margin: 0px 5px 5px 0px;
}
div.text {
	max-width: 99%;
	word-wrap: break-word;
	margin-left: 25px;
}
#front {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
#changenick, #fadebox, #note {
	padding: 7em 0 0 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	color: #FFF;
	text-align: center;
	margin: 0 auto;
	font-size: 0.8em;
}
#changenick {
	padding: 0;
}
#fadebox {
	word-wrap: break-word;
	font-size: 1em;
	text-align: left;
	font-family: monospace;
}
#keygen img {
	float: left;
	margin: 4px 20px 20px 35px;
}
#keytext {
	font-size: 0.8em;
	float: left;
	text-align: left;
	margin: -80px 0px 0px 100px;
	line-height: 1.65em;
}
#keytropy {
	float: left;
	color: #97CEEC;
	border: 1px solid #97CEEC;
	background-color: #000;
}
#keygen, #nickentry {
	margin: 7em auto;
}
#nick {
	color: #97CEEC;
	font-weight: bold;
}
.blue {
	color: #97CEEC;
}
.red {
	color: #F00;
}
span.monospace {
	font-family: "Monaco", monospace;
}
.block {
	width: 25px;
	display: inline-block;
	text-align: center;
	background-color: #97CEEC;
	color: #FFF;
	margin-left: 10px;
}
a.download {
	padding: 2px 2px 2px 22px;
	background: url("../img/fileb.png") center left no-repeat;
	background-color: #97CEEC;
	color: #FFF;
}
a.download:hover {
	text-decoration: none;
}
.emoticon {
	background: transparent url("../img/emoticat.png") no-repeat;
	height: 13px;
	width: 13px;
	display: inline-block;
	vertical-align: 35%;
	font-size: 2px;
	color: transparent;
}
#e_cat { background-position: 0 0; }
#e_cry { background-position: -13px 0; }
#e_gasp { background-position: -26px 0; }
#e_grin { background-position: -39px 0; }
#e_sad { background-position: -52px 0; }
#e_smile { background-position: -65px 0; }
#e_squint { background-position: -78px 0; }
#e_tongue { background-position: -91px 0; }
#e_unsure { background-position: -104px 0; }
#e_wink { background-position: -117px 0; }
#e_winktongue { background-position: -130px 0; }
#e_yay { background-position: -143px 0; }
#e_shut { background-position: -156px 0; }