#firefoxToolbarButton {
	list-style-image: url("chrome://cryptocat/skin/toolbar.png");
}

#firefoxStatusBarIcon {
	width: 83px;
	margin: 0 5px;
}

.link-target-finder-selected {
	outline: 2px solid red !important;
}