/*
-------------------
PRE-DEFINED TAGS
-------------------
*/

@font-face {
	font-family: 'Monda';
	font-style: normal;
	font-weight: 400;
	src: url('monda.woff') format('woff');
}

@font-face {
	font-family: 'Logotype';
	font-style: normal;
	font-weight: 400;
	src: url('logotype.woff') format('woff');
}

body {
	height: 100%;
	background-color: #C7E5F5;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana;
	background-image: url("../img/bg.png");
	background-size: 6px 6px;
	line-height: 2em;
}

a {
	color: #97CEEC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img { 
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-moz-user-select: none;
}

[type=text], [type=password], [type=button], [type=submit], textarea {
	display: block;
	background: #151520;
	font-size: 1em;
	padding: 3px;
	color: #FFF;
	border: none;
	border: 1px solid #222;
	width: 205px;
	box-shadow: 2px 2px #97CEEC;
	outline: none;
}

[type=button], [type=submit] {
	color: #FFF;
	background: #97CEEC;
	border: none;
	cursor: pointer;
}

[type=button]:active, [type=submit]:active {
	box-shadow: 2px 2px #72B1DB;
}

::-webkit-input-placeholder {
	color: #CCC;
}

::-moz-placeholder {
	color: #CCC; 
}

/*
-------------------
MAIN WINDOW (BUBBLE)
-------------------
*/

div#bubble {
	position: relative;
	z-index: 1;
	width: 600px;
	height: 420px;
	margin: 2% auto 0 auto;
	background: #FFF;
	border-radius: 15px 0 15px 15px;
	box-shadow: 5px 5px #76BDE5;
	border: 10px solid #080816;
	padding: 10px 8px 50px 8px;
	display: none;
}

div#bubble div#header {
	width: 100%;
	height: 32px;
	margin: -2px 0 0 -6px;
	-webkit-font-smoothing: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	cursor: default;
	user-select: none;
	-moz-user-select: none;
}

div#bubble img.logo {
	display: inline;
	padding: 1px 0 0 6px;
	float: left;
	height: 34px;
}

div#bubble #logoText {
	display: inline-block;
	margin: 5px 0 0 10px;
	color: #97CEEC;
	font-family: 'Logotype';
	font-size: 3.1em;
	text-shadow: 2px 2px #45A7DD;
}

div#bubble .button {
	display: none;
	cursor: pointer;
	float: right;
	margin: 9px 10px 0 0;
	width: 20px;
	height: 20px;
}

div#bubble #loginForm {
	margin: 95px auto 0 auto;
}

div#bubble #loginForm #conversationName {
	border-radius: 10px 0 0 0;
}

div#bubble #loginForm [type=text] {
	width: 330px;
	margin: 6px auto;
	border: none;
	display: block;
	padding: 7px;
	text-align: center;
	resize: none;
	font-size: 2.2em;
	box-shadow: 2px 2px #90CAEA;
}

div#bubble #loginForm #nickname {
	width: 227px;
	font-size: 1.5em;
	margin: 0 0 0 128px;
	display: inline;
}

div#bubble #loginSubmit {
	width: 90px;
	display: inline;
	height: 34px;
	margin-left: 10px;
	position: relative;
	bottom: 1px;
	font-size: 1.4em;
}

div#loginInfo {
	text-align: center;
	font-size: 1.1em;
	background: #97CEEC;
	padding: 3px;
	color: #FFF;
	border-radius: 0 0 10px 10px;
	width: 341px;
	margin: 10px auto;
}

div#bubble div#info {
	background: rgba(151, 206, 236, 0.2);
	padding: 4px 10px;
	border-radius: 10px 0 10px 10px;
	margin: 20px auto;
	width: 580px;
	font-family: Verdana, Arial, Helvetica;
}

div#bubble #info #introParagraph {
	color: #333;
}

div#bubble #info li {
	list-style-type: none;
	background: url('../img/available.png') no-repeat;
	background-size: 32px auto;
	height: 40px;
	padding: 0 40px;
	margin-left: -30px;
	line-height: 14px;
}

div#bubble #info li.key {
	background: url('../img/key.png') no-repeat top left;
	background-size: 32px auto;
}

div#bubble h1 {
	font-family: Helvetica, Arial;
	font-size: 1.5em;
}

div#bubble #footer {
	background: #080816;
	width: 100%;
	height: 14px;
	padding: 1px 0 2px 2px;
	position: absolute;
	right: 0;
	bottom: 0;
	color: #FFF;
	font-weight: bold;
	font-size: 1.1em;
}

div#footer #version {
	font-size: 8px;
	font-family: monospace;
	color: #FFF;
	float: left;
	margin-left: 4px;
}

a#customServer {
	margin: 0 10px;
	float: right;
}

div#customServerDialog {
	display: none;
	margin: 40px 190px;
}

div#customServerDialog input {
	margin: 8px;
}

div#customServerDialog [type=button] {
	display: inline;
	width: 100px;
}

div#footer #languageSelect {
	color: #97CEEC;
	margin: 0 10px;
	float: right;
}

div#footer #languages {
	-webkit-column-count: 7;
	-moz-column-count: 7;
	column-count: 7;
	display: none;
	margin: 40px auto;
	position: relative;
	right: 10px;
}

div#footer #languages li {
	cursor: pointer;
	color: #FFF;
}

/*
-------------------
BUDDY LIST
-------------------
*/

#buddyWrapper {
	overflow: hidden;
	width: 150px;
	float: right;
	height: 495px;
	display: none;
	position: absolute;
	right: 0;
}

#buddyList {
	height: 495px;
	width: 160px;
	overflow-y: scroll;
	overflow-x: hidden;
	line-height: 13px;
}

.buddy {
	background: #72B1DB;
	background-position: 85% 7px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	color: #FFF;
	padding: 8px 7px 6px 7px;
	font-family: 'Monda', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	width: 133px;
	height: 15px;
	display: none;
	position: relative;
	border-left: 3px solid #97CEEC;
	text-align: left;
	cursor: pointer;
	z-index: 15;
}

.buddyMenu {
	position: relative;
	z-index: 2;
	float: right;
	margin: 0;
	font-size: 0.9em;
	background-image: url("../img/down.png");
	background-size: 14px 14px;
	width: 14px;
	height: 14px;
	cursor: pointer;
	border-radius: 3px 0 3px 3px;
	opacity: 0.8;
}

.buddyMenu:hover {
	background: #111;
	box-shadow: 2px 2px #111;
}

.buddyMenuContents {
	display: none;
	margin: 5px 0 0 -7px;
	width: 147px;
}

.buddyMenuContents li {
	list-style-type: none;
	background: rgba(255, 255, 255, 0.15);
	padding: 1px 0 1px 10px;
	font-size: 0.9em;
	cursor: pointer;
}

.buddyMenuContents li:hover {
	background: rgba(255, 255, 255, 0.4);
}

.buddyMenu:active {
	background: #000;
}

#buddy-main-Conversation {
	background-image: url("../img/groupChat.png");
	background-position: 96% 7px;
}

/*
-------------------
DIALOG BOX
-------------------
*/

#dialogBox {
	position: absolute;
	width: 470px;
	height: 240px;
	border-radius: 8px 0 8px 8px;
	margin: 120px auto 0 -235px;
	left: 50%;
	z-index: 4;
	font-size: 1.1em;
	border: 1px dashed #97CEEC;
	border-right: none;
	background: rgba(255, 255, 255, 0.99);
	box-shadow: 3px 3px #97CEEC;
	top: -450px;
	color: #000;
	font-family: monospace;
}

#dialogBoxClose {
	height: 18px;
	width: 0;
	font-size: 0;
	text-align: center;
	color: #FFF;
	background: #97CeeC;
	float: right;
	margin-top: 1px;
	padding-bottom: 4px;
	cursor: pointer;
	font-family: Helvetica, Arial, Verdana;
	font-weight: bold;
}

#dialogBoxContent {
	padding: 25px 0 0 0;
}

#displayInfo {
	font-size: 1.1em;
	padding: 10px 20px;
	height: 80px;
}

#dialogBoxContent p {
	padding: 10px;
	max-width: 340px;
	margin: 0 auto;
}

#dialogBox #fileInfoField {
	padding: 20px;
}

#progressForm {
	font-size: 0.9em;
}

#progressInfo span {
	font-size: 1.2em;
	font-weight: bold;
}

#progressForm img {
	float: left;
	margin: 8px 20px 0 0;
	box-shadow: 2px 2px #97CEEC;
}

#progressInfo {
	width: 320px;
	font-size: 1em;
	position: relative;
	bottom: 70px;
	float: right;
}

#progressInfo #interestingFact {
	font-size: 1em;
	height: 55px;
	line-height: 1.6em;
	margin-top: 10px;
	color: #777;
}

#progressBar {
	margin-top: 10px;
	height: 18px;
	width: 290px;
	border: 1px solid #97CEEC;
	padding: 1px;
}

#progressBar #fill {
	height: 100%;
	width: 0%;
	background: #97CEEC;
	opacity: 0.8;
}

.fileProgressBar {
	height: 14px;
	width: 130px;
	display: inline-block;
	vertical-align: -3px;
	margin-left: 10px;
	border: 1px solid #97CEEC;
	padding: 1px;
}

.fileProgressBarFill {
	height: 100%;
	width: 0%;
	background: #97CEEC;
}

#dialogBox [type=text], #dialogBox [type=password], #dialogBox [type=submit] {
	background: #000;
	border: 1px solid #222;
	color: #FFF;
	float: left;
	margin: 0 5px 10px 5px;
	width: 255px;
	font-size: 1em;
}

#dialogBox #resetKeysOK {
	background: #000;
	border: 1px solid #97CEEC;
	color: #97CEEC;
	margin: 0 auto;
	width: 100px;
	box-shadow: 2px 2px #97CEEC;
	font-size: 1.2em;
	cursor: pointer;
}

#dialogBox [type=checkbox] {
	width: 10px;
	height: 10px;
}

#otrFingerprint, #multiPartyFingerprint {
	font-weight: bold;
	font-size: 14px;
}

#otrColorprint, #multiPartyColorprint {
	height: 20px;
	margin: 2px 0 10px 0;
}

.colorprint {
	width: 71px;
	height: 12px;
	display: inline-block;
}

#fileSelector {
	display: none;
}

#fileErrorField {
	color: #F00;
	margin: 20px 0;
	font-weight: bold;
}

/*
-------------------
CONVERSATION WINDOW
-------------------
*/

#conversationWrapper {
	width: 750px;
	overflow: hidden;
	float: left;
}

#conversationWindow {
	z-index: 3;
	height: 412px;
	display: none;
	font-family: 'Monda', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	position: relative;
	font-size: 1.25em;
	overflow-x: hidden;
	overflow-y: scroll;
}

#conversationInfo, .Line1, .Line2, .Line3 {
	background: #161B26;
	border-radius: 5px 0 5px 5px;
	padding: 7px 10px;
	word-wrap: break-word;
	text-align: left;
	position: relative;
	margin: 30px 0 16px 20px;
	opacity: 0;
}

.Line2 {
	background: #11141E;
}

.Line3 {
	background: #1B232F;
}

.Line1:before {
	top: 100%;
}

.Line1:after, .Line2:after, .Line3:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	border: 7px solid;
}

.Line1:after {
	left: 15px;
	border-color: #161B26 transparent transparent #161B26;
}

.Line2:after {
	right: 15px;
	border-color: #11141E #11141E transparent transparent;
}

.Line3:after {
	right: 15px;
	border-color: #1B232F #1B232F transparent transparent;	
}

.visibleLine {
	opacity: 1;
	margin-top: 20px;
}

#conversationInfo {
	background: #97CEEC;
	text-align: left;
	font-size: 1em;
	margin: 0;
	border-radius: 0;
	padding: 6px 0 10px 0;
	width: 0;
	float: left;
	height: 13px;
	font-family: 'Monda', 'Helvetica', 'Arial', 'Verdana';
	border-bottom: 1px solid #72B1DB;
	display: none;
	opacity: 1;
	box-shadow: 0 10px 40px #000;
	z-index: 10;
}

#conversationInfo .conversationUserCount {
	background: #97CEEC;
	border-radius: 0 5px 5px 0;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	font-size: 1em;
	margin: 0 10px 10px 0;
	padding: 5px 5px 4px 5px;
	vertical-align: 10px;
}

#conversationInfo .conversationName {
	position: absolute;
	bottom: 3px;
}

#conversationInfo #groupConversation {
	position: absolute;
	right: 10px;
	line-height: 19px;
}

#conversationWindow .timeStamp {
	color: #BBB;
	font-size: 0.8em;
	font-family: monospace;
	vertical-align: 1px;
}

#conversationWindow .sender {
	color: #97CEEC;
	padding: 7px 3px 6px 0;
	width: 100px;
	margin: 0 10px;
	display: inline;
	text-align: right;
}

#conversationWindow .nickHighlight {
	color: #97CEEC;
}

#userInput {
	display: none;
}

#userInputText {
	background: #0D0D17;
	border-radius: 5px 0 5px 5px;
	padding: 8px 10px;
	height: 32px;
	float: left;
	margin: 0 0 7px 14px;
	display: inline;
	border: none;
	border-left: 6px solid #97CEEC;
	box-shadow: none;
	font-family: 'Monda', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	text-align: left;
	resize: none;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
}

.imageView, .fileView {
	background: #97CEEC;
	color: #FFF;
	padding: 0 2px 0 21px;
	margin-left: 10px;
	box-shadow: 1px 1px #34BEED;
	font-size: 0.9em;
	background-image: url("../img/file.png");
	background-size: 16px auto;
	background-position: center left;
	background-repeat: no-repeat;
	font-family: monospace;
	display: inline-block;
}

.userJoin, .userLeave {
	background: #97CEEC;
	width: 180px;
	padding: 6px;
	margin: 20px;
	opacity: 0.9;
	text-align: center;
	border-radius: 5px 0 5px 5px;
	font-size: 1em;
}

.userLeave {
	background: #F00;
}

.userJoin strong, .userLeave strong {
	padding-right: 10px;
	font-size: 1.4em;
	vertical-align: -1px;
}

.imageView:hover, .fileView:hover {
	text-decoration: none;
}

/*
-------------------
EMOTICONS
-------------------
*/

.emoticon {
	background-repeat: no-repeat;
	height: 14px;
	width: 14px;
	display: inline-block;
	vertical-align: 10%;
	margin: 0 3px;
	background-size: 100% 100%;
	font-size: 2px;
	color: transparent;
}

#eCat { background-image: url('../img/emoticon/cat.png') }
#eCry { background-image: url('../img/emoticon/cry.png') }
#eGasp { background-image: url('../img/emoticon/gasp.png') }
#eGrin { background-image: url('../img/emoticon/grin.png') }
#eSad { background-image: url('../img/emoticon/sad.png') }
#eSmile { background-image: url('../img/emoticon/smile.png') }
#eSquint { background-image: url('../img/emoticon/squint.png') }
#eTongue { background-image: url('../img/emoticon/tongue.png') }
#eUnsure { background-image: url('../img/emoticon/unsure.png') }
#eWink { background-image: url('../img/emoticon/wink.png') }
#eWinkTongue { background-image: url('../img/emoticon/winkTongue.png') }
#eHappy { background-image: url('../img/emoticon/happy.png') }
#eShut { background-image: url('../img/emoticon/shut.png') }