html {
	height: 85%;
}
body {
	height: 100%;
	background-color: #c7e5f5;
	margin: 0 auto;
	font-family: Helvetica, Arial, Verdana;
	font-size: 11px;
	color: #FFF;
	background-image: url("../img/bg.png");
	line-height: 1.37em;
}
#top {
	background-color: #222;
	border-radius: 15px 0 0 0;
	width: 100%;
	height: 32px;
	padding: 5px 0;
	border-bottom: 1px solid #97CEEC;
	display: none;
}
img.logo {
	width: 288px;
	display: inline;
}
#login:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 300px;
	top: 310px;
	border: 25px solid;
	border-color: #000 transparent transparent #000;
}
#login {
	position: relative;
	width: 670px;
	height: 310px;
	margin: 5% auto 0 auto;
	background-color: #000;
	border-radius: 15px 0 15px 15px;
	box-shadow: 4px 4px #76BDE5;
	text-align: center;
}
#login:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 308px;
	top: 310px;
	border: 15px solid;
	border-color: #000 transparent transparent #000;
}
#login #head {
	background-color: #222;
	width: 655px;
	padding: 5px 5px 5px 10px;
	height: 35px;
	border-radius: 15px 0 0 0;
	text-align: left;
	margin-bottom: 20px;
}
#login #info {
	float: left;
	padding-left: 10px;
	text-align: left;
	max-width: 360px;
	font-size: 12px;
}
#login #loginForm {
	float: right;
	padding-right: 10px;
}
#login [type=text], #login [type=password], #login [type=button], #login [type=submit] {
	display: block;
	background-color: #222;
	box-shadow: 2px 2px #97CEEC;
	font-size: 14px;
	padding: 5px;
	color: #FFF;
	border: none;
	margin: 15px auto 0 auto;
	text-align: center;
	border: 1px solid #333;
	width: 200px;
	outline: none;
}
#login #loginSubmit {
	width: 210px;
}
#login [type=submit]:hover {
	cursor: pointer;
	background-color: #97CEEC;
	box-shadow: 2px 2px #333;
}
#login [type=submit]:active {
	border: none;
	box-shadow: 2px 2px #76BDE5;
}
#login .inputNote {
	background-color: #97CEEC;
	width: 214px;
	margin-left: 1px;
	color: #FFF;
}
#loginInfo {
	color: #999;
	background-color: #222;
	padding: 2px 5px;
	width: 204px;
	margin: 10px 0 0 1px;
	text-align: left;
	font-size: 11;
}
#login h1 {
	font-family: Futura, Helvetica, Arial;
	font-size: 20px;
}
#tabs {
	float: right;
	display: none;
}
.tabInactive, .tabActive {
	cursor: pointer;
	padding-top: 2px;
	font-weight: bold;
	width: 80px;
	background-color: #97CEEC;
	height: 18px;
	border: 1px solid #97CEEC;
	text-align: center;
	margin: 15px 15px 0 0;
	float: right;
}
.tabInactive {
	color: #777;
	background-color: #222;
}
#contents {
	width: 100%;
	height: 500px;
}
#contacts {
	position: absolute;
	right: 0;
	display: none;
	background-color: #000;
	height: 100%;
	width: 170px;
	margin: -29px 0 0 0;
	border-left: #97CEEC;
}
#contacts h2 {
	background-color: #000;
	border: 1px solid #97CEEC;
	border-bottom: none;
	border-right: none;
	color: #777;
	width: 99%;
	padding: 3px 0;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	margin-left: -1px;
}
.contact {
	cursor: pointer;
	background-color: #97CEEC;
	box-shadow: 2px 2px #76BDE5;
	margin: 8px auto 0 auto;
	word-wrap: break-word;
	width: 150px;
	padding: 1px 1px 1px 5px;
}
.contact:hover {
	color: #97CEEC;
	background-color: #000;
}
