body {
	height: 100%;
	background-color: #c7e5f5;
	margin: 0;
	font-family: Helvetica, Arial, Verdana;
	font-size: 11px;
	color: #FFF;
	background-image: url("../img/bg.png");
	line-height: 1.37em;
}
img.logo {
	width: 288px;
	display: inline;
	padding-left: 10px;
}
#bubble:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 307px;
	top: 310px;
	border: 25px solid;
	border-color: #000 transparent transparent #000;
	z-index: 0;
}
#bubble {
	position: relative;
	z-index: 1;
	width: 670px;
	height: 310px;
	margin: 5% auto 0 auto;
	background-color: #000;
	border-radius: 12px 0 12px 12px;
	box-shadow: 4px 4px #76BDE5;
}
#bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 315px;
	top: 310px;
	border: 15px solid;
	border-color: #000 transparent transparent #000;
	z-index: 0;
}
#bubble #head {
	background-color: #222;
	width: 100%;
	padding: 5px 0;
	height: 35px;
	border-radius: 15px 0 0 0;
}
#bubble .button {
	display: none;
	cursor: pointer;
	float: right;
	margin: 9px 10px 0 0;
}
#bubble #info {
	float: left;
	padding-left: 10px;
	max-width: 360px;
	font-size: 12px;
}
#bubble #loginForm {
	float: right;
	padding-right: 10px;
}
[type=text], [type=password], [type=button], [type=submit] {
	display: block;
	background-color: #222;
	box-shadow: 2px 2px #97CEEC;
	font-size: 14px;
	padding: 5px;
	color: #FFF;
	border: none;
	margin: 15px auto 0 auto;
	text-align: center;
	border: 1px solid #333;
	width: 200px;
	outline: none;
}
#bubble #loginSubmit {
	width: 210px;
}
[type=submit]:hover {
	cursor: pointer;
	background-color: #97CEEC;
	box-shadow: 2px 2px #333;
}
[type=submit]:active {
	border: none;
	box-shadow: 2px 2px #76BDE5;
}
#bubble .inputNote {
	background-color: #97CEEC;
	width: 214px;
	margin-left: 1px;
	color: #FFF;
}
#bubble .inputNote span {
	position: relative;
	bottom: 2px;
}
#loginInfo {
	color: #999;
	background-color: #222;
	padding: 2px 5px;
	width: 204px;
	margin: 10px 0 0 1px;
	font-size: 11;
}
#bubble h1 {
	font-family: Futura, Helvetica, Arial;
	font-size: 20px;
}
#buddyList {
	float:right;
	height: 90%;
	width: 150px;
	display: none;
}
.buddy {
	background-color: #222;
	color: #BBB;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	width: 100%;
	margin-left: -19px;
	display: none;
	position: relative;
	border-left: 3px solid #111;
}
#dialogBox {
	position: absolute;
	width: 470px;
	height: 240px;
	border-radius: 10px 0 10px 10px;
	margin: 120px auto 0 -235px;
	left: 50%;
	z-index: 2;
	border: 1px solid #222;
	border-right: none;
	background-color: rgba(0, 0, 0, 0.94);
	box-shadow: 2px 2px #E93028;
	top: -450px;
}
#dialogBoxClose {
	width: 18px;
	height: 18px;
	font-size: 12px;
	text-align: center;
	color: #FFF;
	background-color: #E93028;
	float: right;
	cursor: pointer;
	margin-top: 1px;
	font-weight: bold;
	display: none;
}
#dialogBoxContent {
	padding: 35px 0 0 0;
	text-align: center;
}
#dialogBoxContent p {
	padding: 10px;
	max-width: 340px;
	margin: 0 auto;
}
#dialogBox .bar, #dialogBox .yes, #dialogBox .no {
	width: 458px;
	background-color: #333;
	padding: 6px;
	font-size: 14px;
	box-shadow: none;
	text-align: left;
	font-weight: bold;
	font-family: Futura, Helvetica, Arial;
	margin: 15px 0 0 0;
	border: none;
	display: block;
	box-sizing: content-box;
}
#dialogBox .yes {
	cursor: pointer;
	background-color: #97CEEC;
}
#dialogBox .no {
	cursor: pointer;
	background-color: #E93028;
}
#addBuddyJID, #addBuddySubmit {
	font-size: 11px;
	display: inline;
}
#addBuddySubmit {
	width: 150px;
	margin-left: 10px;
}
#userInput {
	display: none;
}
#conversationWindow {
	float: left;
	background-color: #97CEEC;
	z-index: 3;
	width: 700px;
	height: 400px;
	display: none;
	margin-left: 9px;
	position: relative;
}
#userInputText {
	background-color: #000;
	box-shadow: 1px 1px #97CEEC;
	width: 580px;
	text-align: left;
	float: left;
	margin: 10px 0 10px 10px;
	display: inline;
	padding: 10px 6px;
}
#userInputSubmit {
	display: inline;
	padding: 10px 6px;
	width: 80px;
	box-sizing: content-box;
	margin: 10px;
}
