html {
}
body {
	height: 100%;
	background-color: #c7e5f5;
	margin: 0;
	font-family: Helvetica, Arial, Verdana;
	font-size: 11px;
	color: #FFF;
	background-image: url("../img/bg.png");
	line-height: 1.37em;
}
img.logo {
	width: 288px;
	display: inline;
	padding-left: 10px;
}
#bubble:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 300px;
	top: 310px;
	border: 25px solid;
	border-color: #000 transparent transparent #000;
}
#bubble {
	position: relative;
	width: 670px;
	height: 310px;
	margin: 5% auto 0 auto;
	background-color: #000;
	border-radius: 15px 0 15px 15px;
	box-shadow: 4px 4px #76BDE5;
}
#bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 308px;
	top: 310px;
	border: 15px solid;
	border-color: #000 transparent transparent #000;
}
#bubble #head {
	background-color: #222;
	width: 100%;
	padding: 5px 0;
	height: 35px;
	border-radius: 15px 0 0 0;
}
#bubble #info {
	float: left;
	padding-left: 10px;
	max-width: 360px;
	font-size: 12px;
}
#bubble #loginForm {
	float: right;
	padding-right: 10px;
}
#bubble [type=text], #bubble [type=password], #bubble [type=button], #bubble [type=submit] {
	display: block;
	background-color: #222;
	box-shadow: 2px 2px #97CEEC;
	font-size: 14px;
	padding: 5px;
	color: #FFF;
	border: none;
	margin: 15px auto 0 auto;
	text-align: center;
	border: 1px solid #333;
	width: 200px;
	outline: none;
}
#bubble #loginSubmit {
	width: 210px;
}
#bubble [type=submit]:hover {
	cursor: pointer;
	background-color: #97CEEC;
	box-shadow: 2px 2px #333;
}
#bubble [type=submit]:active {
	border: none;
	box-shadow: 2px 2px #76BDE5;
}
#bubble .inputNote {
	background-color: #97CEEC;
	width: 214px;
	margin-left: 1px;
	color: #FFF;
}
#loginInfo {
	color: #999;
	background-color: #222;
	padding: 2px 5px;
	width: 204px;
	margin: 10px 0 0 1px;
	font-size: 11;
}
#bubble h1 {
	font-family: Futura, Helvetica, Arial;
	font-size: 20px;
}
#buddyList {
	float:right;
	height: 90%;
	width: 150px;
	display: none;
}
.buddyBlue, .buddyBlack {
	background-color: #76BDE5;
	color: #FFF;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	width: 100%;
	margin-left: -19px;
	display: none;
}
.buddyBlue {
	border-left: 3px solid #6BA7C9;
}
.buddyBlack {
	border-left: 3px solid #222;
	background-color: #333;
}
.buddyBlue:hover, .buddyBlack:hover {
	cursor: pointer;
	background-color: #97CEEC;
}
#conversationWindow {
	float: left;
	border: 1px solid #444;
	width: 700px;
	height: 400px;
	display: none;
	margin-left: 10px;
}
